# EditorConfig makes it easy to maintain the correct coding style
# when switching between different text editors and projects.
# http://editorconfig.org/

# Top-most EditorConfig file. Do not search in parent directories.
root = true

# Set two space indentation, default charset to UTF-8, line endings to
# Unix (LF) with a final newline, trim trailing whitespace in all files.
[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Set four space indentation in JSON and PHP files.
[*.{json,php}]
indent_size = 4

# Set zero space indentation in SVG files.
[*.svg]
indent_size = 0

# Do not trim trailing whitespace in Markdown files.
[*.md]
trim_trailing_whitespace = false
