# Specifies intentionally untracked files to ignore
# https://git-scm.com/docs/gitignore

# Composer files
/vendor
composer.phar

# Linux files
.directory
.fuse_hidden*
.nfs*
.Trash-*
*~

# macOS files
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Icon
Network Trash Folder
Temporary Items

# Windows files
[Dd]esktop.ini
*.lnk
*.stackdump
$RECYCLE.BIN/
ehthumbs_vista.db
ehthumbs.db
Thumbs.db
